<!DOCTYPE html>
<html lang="en">

<head>
    <title>备案申请书</title>
    <style>
        body {
            font-family: "Microsoft YaHei";
        }
        .text-center{text-align: center;}
        .text-right{text-align: right;}
        .c3{color:#333;}
        .c6{color:#666;}
        .fontW{font-weight: 700;}
    </style>
</head>

<body>
    <div class="activityWrap">
        <p class="text-center c3 fontw">#proName-挂牌交易申请书</p>
        <p>申请机构：
            <span>#institutions</span>
        </p>
        <p>会员编号：
            <span>#vipNumber</span>
        </p>
        <p>申请书编号:
            <span>#applyWordNumber</span>
        </p>
        <p class="text-center c3 fontw">备案申请与承诺</p>
        <p>致：#tradeCenterName</p>
        <p>我公司已经在#tradeCenterName申请#proType的金融产品，备案产品名称为：#proName 。备案代码：#recordCode。我公司拟挂牌交易上述金融产品，已按#tradeCenterName要求准备好相关材料，现提交#tradeCenterName审核。</p>
        <p class="c3 fontw">我方依照依法合规、诚实信用、公开、公平、公正的原则，作如下承诺：</p>
        <p>一、我方所提交的所有材料及信息内容真实、合法、有效、完整，不存在虚假记载、误导性陈述或重大遗漏，不存在对备案及发行有重大影响的其它事项。</p>
        <p>二、拟挂牌交易的产品，已经按照法律法规及#tradeCenterName的相关规定，履行了对产品发行人及产品债权支持的基础资产的尽职调查相关职责。</p>
        <table style="font-size:12px;width:98%;">
            <tr>
                <th colspan="4">挂牌基本情况</th>
            </tr>
            <tr>
                <td>挂牌名称</td>
                <td colspan="3">#proName</td>
            </tr>
            <tr>
                <td>备挂牌代码</td>
                <td colspan="3">#proCode</td>
            </tr>
            <tr>
                <td>发行人</td>
                <td>#publisherName</td>
                <td>预期年化收益率</td>
                <td>#rate</td>
            </tr>
            <tr>
                <td>挂牌规模 大写（人民币）</td>
                <td>#Money</td>
                <td>小写 (人民币)</td>
                <td>#money</td>
            </tr>
            <tr>
                <td>预计起息日</td>
                <td>#raiseDay</td>
                <td>发布起始时间</td>
                <td>#publishStartDay</td>
            </tr>
            <tr>
                <td>认购启动时间</td>
                <td colsapn="3">#subscribeStartDay</td>
            </tr>
            <tr>
                <td>起投金额 大写（人民币）</td>
                <td>#minInvestMoney</td>
                <td>小写 （人民币）</td>
                <td>#minInvestmoney</td>
            </tr>
            <tr>
                <td>每人累计上限 大写（人民币）</td>
                <td>#maxInvestMoney</td>
                <td>小写 （人民币）</td>
                <td>#maxInvestmoney</td>
            </tr>
            <tr>
                <td>发行人收款账户开户行</td>
                <td colspan="3">#accountBank</td>
            </tr>
            <tr>
                <td>发行人收款账户户名</td>
                <td colspan="3">#accountName</td>
            </tr>
            <tr>
                <td>发行人收款账户账号</td>
                <td colspan="3">#accountAccount</td>
            </tr>
            <tr>
                <td>重大事项披露</td>
                <td colspan="3">#importantThing</td>
            </tr>
            <tr>
                <td>资产与项目说明</td>
                <td colspan="3">#porjectIntroduce</td>
            </tr>
            <tr>
                <td>合格投资者要求</td>
                <td colspan="3">#investorDemand</td>
            </tr>
        </table>
        <p>为保证上述产品备案及挂牌的顺利进行，我司作为发行人自行提交或发行人对受托管理人提交的以上法律文件及文件内容，做如下确认：</p>
        <p>1、上述产品备案及挂牌申请，已经我司内部审批通过。上述申请一经发行人或受托管理人我司提交，我司不以任何理由变更、撤销备案或挂牌申请。</p>
        <p>2、上述法律文件的相关条款及{交易所名称}的相关规则我司已经全部审阅，经发行人或受托管理人我司盖章（含电子签章）确认并提交{交易所名称}，视同我司行为，我司将严格按照上述法律文件的要求，履行相关义务。</p>
        <p>特此确认。</p>
        <p class="text-right">发行人机构（盖章）：</p>
        <p class="text-right">法定代表人或授权人（签字或人名章）：</p>
        <p class="text-right">产品管理人机构（盖章）：</p>
        <p class="text-right">法定代表人或授权人（签字或人名章）：</p>
        <p class="text-right">日期：#date</p>
    </div>
</body>

</html>